<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">Domestic Surveillance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
        </div>
    </div>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://mindlessheep.duckdns.org/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">  </a>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    More
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href={{ url_for('projects.WS') }}>Lets Learn Together</a></li>
                    <li><a class="dropdown-item" href={{ url_for('projects.GAS') }}>About Us</a></li>
                </ul>
            </li>
        </ul>
    
    </div>
</nav>
             <!--def process():

    stats = input("stats, points, rebounds, and assists")

    if stats == "stats":
        import pandas as pd
        # Load the CSV file into a Pandas DataFrame
        df = pd.read_csv('nba_player_stats.csv')
        print(df)
    elif stats == "points":
        def points():
            import pandas as pd

# Load the CSV file into a Pandas DataFrame
            df = pd.read_csv('nba_player_stats.csv')

# Prompt the user to input a player name and points scored
            player_name = input("Enter the player's name: ")
            points_line = int(input("Enter the players points line: "))

# Filter the DataFrame to only include rows for the input player name
            player_stats = df[df['NAME'] == player_name]

# If the input player name is not found, print an error message and exit
            if player_stats.empty:
                print("Error: Player not found")
                exit()

# Calculate the player's average points per game
            avg_ppg = player_stats['PPG'].mean()

            if points_line > avg_ppg:
                print(points_line , ">" , avg_ppg)
            else:
               print(points_line, "<" , avg_ppg)

# Compare the input points scored to the player's average points per game
            if points_line > avg_ppg:
                print("This is a good under bet")
            elif points_line == avg_ppg:
               print("This bet is 50/50")
            else:
                 print("This is a good over bet")

        points()
    elif stats == "rebounds":
        def rebounds():
            import pandas as pd
# Load the CSV file into a Pandas DataFrame
            df = pd.read_csv('nba_player_stats.csv')

# Prompt the user to input a player name and points scored
            player_name = input("Enter the player's name: ")
            rebound_line = int(input("Enter the players rebound line: "))

# Filter the DataFrame to only include rows for the input player name
            player_stats = df[df['NAME'] == player_name]

# If the input player name is not found, print an error message and exit
            if player_stats.empty:
              print("Error: Player not found")
              exit()

# Calculate the player's average points per game
            avg_RPG = player_stats['RPG'].mean()

            if rebound_line > avg_RPG:
              print(rebound_line , ">" , avg_RPG)
            else:
                print(rebound_line, "<" , avg_RPG)

# Compare the input points scored to the player's average points per game
            if rebound_line > avg_RPG:
                print("This is a good under bet")
            elif rebound_line == avg_RPG:
                print("This bet is 50/50")
            else:
                print("This is a good over bet")

        rebounds()
    elif stats == "assists":
        def assists():
            import pandas as pd
        # Load the CSV file into a Pandas DataFrame
            df = pd.read_csv('nba_player_stats.csv')

# Prompt the user to input a player name and points scored
            player_name = input("Enter the player's name: ")
            assist_line = int(input("Enter the players assist line: "))

# Filter the DataFrame to only include rows for the input player name
            player_stats = df[df['NAME'] == player_name]

# If the input player name is not found, print an error message and exit
            if player_stats.empty:
               print("Error: Player not found")
               exit()
 
# Calculate the player's average points per game
            avg_APG = player_stats['APG'].mean()

            if assist_line > avg_APG:
               print(assist_line , ">" , avg_APG)
            else:
               print(assist_line, "<" , avg_APG)

# Compare the input points scored to the player's average points per game
            if assist_line > avg_APG:
                print("This is a good under bet")
            elif assist_line == avg_APG:
               print("This bet is 50/50")
            else:
                print("This is a good over bet")

        assists()
    else:
        print("Invalid option")

process()-->
                 